@page "/"

<h2>Razor Component Experiments.</h2>
<p>
    The demo's I've created are listed to the left and the complete solution (Visual Studio 2019 Preview
    3.0, .NET Core 3.0 Preview 2) can be found at my GitHub repositary
    <a href="https://github.com/RBilsland/RazorComponentDemos" target="_blank">https://github.com/RBilsland/RazorComponentDemos</a>
</p>
