@page "/"

<h2>Razor Component Demos.</h2>
<p>
    These demo's have been confirmed as woring using Visual Studio 2019, Version 16.3.0
    preview 2.0 & .NET Core 3.0 Preview 8 and can be found at my GitHub repositary
    <a href="https://github.com/RBilsland/RazorComponentDemos" target="_blank">https://github.com/RBilsland/RazorComponentDemos</a>
</p>
